/vendor/
/composer.lock
/.phpunit.cache/
/.phpunit.result.cache/
/*.zip

/dev/.env.local
/dev/.env.*.local
/dev/.shopware-project.yml
/dev/vendor/
/dev/var/*
!/dev/var/.htaccess
/dev/files/*
!/dev/files/.htaccess
/dev/install.lock
/dev/public/bundles/*
/dev/public/media/*
/dev/public/theme/*
/dev/public/thumbnail/*
/dev/public/sitemap/*
/dev/public/asset-manifest.json
/dev/config/jwt/*
!/dev/config/jwt/.gitignore
/dev/custom/plugins/SwagExtensionStore/
/dev/custom/plugins/LaioutrConnector
/dist/
